html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 980px) {
  #app-main {
    padding-top: 60px;
  }
}



.container-fluid .credit {
  margin: 20px 0;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}


@media (max-width: 320px) {
  .hidden-portrait {
    display: none !important;
  }
}





.imgBox  { 
  width:58px; 
  height: 293px; 
  background-size:58px 293px;
  background-image:url('../perlick.png'); 
  display: inline-block;
  /*margin: 20px;*/
  /*background-repeat: no-repeat;*/
}
.imgText { 
  text-align:center; 
  /*margin:0; */
  padding:40px 40px 40px 0; 
  /*border:0px solid red;*/
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  white-space:nowrap;
  /*display:block;*/
  /*bottom:0;*/
  /*width:20px;*/
  /*height:20px;*/
  font-family: 'Permanent Marker', cursive;
  font-size:24px;
  font-weight: lighter;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /*text-shadow: 0px 0px 1px #333;*/
}